@import url('https://fonts.cdnfonts.com/css/d-din');

@font-face {
  font-family: 'eliksni';
  src: url('eliksni.woff2') format('woff2');
}

body {
	font-family: 'D-DIN', sans-serif;
	background-color: #001a21;
	color: #001A21;
	margin: 20px;
	line-height: 1.6;
}
h1 {
	color: #00FFFF;
	text-align: center;
	margin-bottom: 1px;
}
h4 {
        color: #00FFFF;
        text-align: center;
        margin-bottom: 8px;
	margin-top: 1px;
}
p {
        color: #00FFFF;
        text-align: center;
        margin-bottom: 6px;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.eliks {
    font-family: 'eliksni', sans-serif;
    letter-spacing: 0.25em;
    color: #144b59;
}