@import url('https://fonts.cdnfonts.com/css/d-din');

body {
	font-family: 'D-DIN', sans-serif;
	background-color: #000000;
	color: #FFFFFF;
	margin: 20px;
	line-height: 1.6;
}
h1 {
	color: #00FFFF;
	text-align: center;
	margin-bottom: 25px;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
